body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(247, 244, 244, 0.295);
}

/* banner section */

#banner-section{
 background-image: linear-gradient(rgba(206, 205, 205, 0.2), rgba(204, 204, 204, 0.2)),url(https://img.freepik.com/premium-photo/beautiful-girl-treated-teeth_88340-5103.jpg?w=740);
}

/* form section */

#form-section{
  margin: 140px 0;
  width:50%;
  margin-left: 25%;
  background-color: #fff;
  padding: 60px 50px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

#form-section h1{
  font-size: 45px;
  padding-bottom: 20px
}

#form-section label{
  color: rgb(58, 58, 226);;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.form-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
}

.form-item input{
  border: none;
  border-bottom: 1px solid rgb(168, 168, 168);
  padding: 20px 5px;
  width: 100%;
  outline: none;
}

.form-item input:focus{
  border-bottom: 1px solid rgb(168, 168, 168);

}

.form-item textarea{
  height: 80px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(168, 168, 168);
}

.form-item input:focus{
  border: none;
}

.form-dub{
  display: flex;
}

.form-dub > .form-item{
  width: 50%;
  display: block;  
}

.form-checkbtn{
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
}

.form-checkbtn span{
  color: rgb(58, 58, 226);
}

input[type="checkbox"]{
  margin: 0 20px 50px 20px;
}

input[type="submit"]{
  padding: 25px 50px;
  background-color: rgb(58, 58, 226);
  color: #fff;
  border:none;
  margin-left: 20px;
  font-size: 15px;
  cursor: pointer;
}


/* middle section */

#middle-section, .box, .boxes{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#middle-section h1{
  font-size: 45px;
  max-width: 40%;
  margin-bottom: 40px;
}

.boxes{
  flex-direction: row;
  margin-bottom: 100px;
}

.box{
  background-color: rgba(180, 206, 241, 0.13);
  height: 260px;
  width: 390px;
  margin: 0 13px;
  position: relative;
}

.box img{
  margin-top: 0px;
  position: relative;
  display: block;
}

.box h3{
  padding: 20px 0;
  width: 250px;
}

.box p{
  width: 200px;
  font-weight: 300;
  line-height: 20px;
}


.circle{
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(192, 198, 255, 0.514);
  z-index: -1;
  position:absolute;
  left: 200px;
  top: 40px;
  transition: ease-in-out 0.3s;
}

.box:hover .circle{
  left:220px
}


/* scroll animation */
/* .revealtop{
  opacity: 0;
  transform: translateY(-150px);
  transition: 0.6s ease-out;
}
.revealtop.active {
  opacity: 1;
  transform: translateY(0);
}


.reveal {
  opacity: 0;
  transform: translateY(150px);
  transition: 0.5s ease-out;
  overflow: hidden;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
  overflow-y: hidden;
} */


